<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table responsive">
  <thead>
    <tr>
      <th>Fulle name</th>
      <th>Email</th>
      <th>Date of bith</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fulle_name %></td>
        <td><%= user.email %></td>
        <td><%= user.date_of_bith %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Show Transaction', user_transactions_path(user) %></td>
        <td><%= link_to 'Show User Rewards', user_reward_reward_list_path(user) %> <%= link_to 'Show Point History', user_point_histories_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>