<p id="notice"><%= notice %></p>

<p>
  <strong>Fulle name:</strong>
  <%= @user.fulle_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date of bith:</strong>
  <%= @user.date_of_bith %>
</p>
<%= form_with(model: @user) do |form| %>
   <%= form.submit %>
<% end %>
